PORT=3000
NODE_ENV=development

DB_URL=your_mongodb_connection_url

STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret

JWT_SECRET=generate_a_long_random_secret

CLIENT_URL=http://localhost:5173